<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 配置SQL语句，与实体类操作的对应关系。 -->
<!-- 保证唯一性 -->
<mapper namespace="com.softwarepractice.dao.SelectInterface">
    <!--
       将返回的数据  与对象对应。将返回的数据，按照配置组装成对应的对象。
     -->

    <select id="SelectAdmin" resultType="com.softwarepractice.entity.Admin">
        SELECT * FROM admin,worker WHERE admin.w_id=worker.id
        AND worker.worker_id=#{worker_id}
    </select>

    <select id="FindWorkerAll" resultType="com.softwarepractice.entity.Worker">
        SELECT * FROM worker
    </select>

    <select id="FindFeeByType" resultMap="feeMessage">
        SELECT fee.id,fee.start_time,fee.end_time,fee.amount,fee.status,fee.type,
        dormitory.id dorm_id,dormitory.zone,dormitory.building,dormitory.room
        FROM fee,dormitory WHERE fee.d_id=dormitory.id AND fee.type=#{param2}
        <if test="jurisdirction != 0" >
            AND dormitory.zone=#{jurisdirction}
        </if>
    </select>

    <select id="FindFeeAll" resultMap="feeMessage">
        SELECT fee.id,fee.start_time,fee.end_time,fee.amount,fee.status,fee.type,
        dormitory.id dorm_id,dormitory.zone,dormitory.building,dormitory.room
        FROM fee,dormitory WHERE fee.d_id=dormitory.id
        <if test="jurisdirction != 0" >
            AND dormitory.zone=#{jurisdirction}
        </if>
    </select>

    <resultMap id="feeMessage" type="com.softwarepractice.message.fee.feeMessage">
        <id column="id" property="id"/>
        <result column="start_time" property="start_time"/>
        <result column="end_time" property="end_time"/>
        <result column="amount" property="amount"/>
        <result column="status" property="status"/>
        <result column="type" property="type"/>
        <association property="dorm" javaType="com.softwarepractice.entity.Dormitory">
            <id column="dorm_id" property="id"/>
            <result column="zone" property="zone"/>
            <result column="building" property="building"/>
            <result column="room" property="room"/>
        </association>
    </resultMap>

    <select id="FindRepairAll" resultType="com.softwarepractice.message.medium.RepairMessage">
        SELECT repair.id,repair.d_id,repair.s_id,repair.telephone,
        repair.content,repair.picture,repair.status,repair.time,
        dormitory.zone,dormitory.building,dormitory.room,student.student_id
        FROM repair,dormitory,student
        WHERE repair.d_id=dormitory.id AND repair.s_id=student.id
        <if test="jurisdirction != 0" >
            AND dormitory.zone=#{jurisdirction}
        </if>
        ORDER BY status ASC
    </select>

    <select id="FindComplaintAll" resultType="com.softwarepractice.message.medium.ComplaintMessage">
        SELECT complaint.id,complaint.s_id,complaint.telephone,complaint.content,
        complaint.picture,complaint.status,complaint.time,student.student_id
        FROM complaint,dormitory,accommendation,student
        WHERE complaint.s_id=accommendation.s_id AND complaint.s_id=student.id
            AND accommendation.d_id=dormitory.id
        <if test="jurisdirction != 0" >
            AND dormitory.zone=#{jurisdirction}
        </if>
        ORDER BY status ASC
    </select>

    <select id="FindQuestionnaireAll" resultType="com.softwarepractice.entity.Questionnaire">
        SELECT * FROM questionnaire
        <if test="jurisdirction != 0" >
            WHERE questionnaire.zone=#{jurisdirction}
        </if>
        ORDER BY id DESC
    </select>

    <select id="SelectQuestionnaire" resultType="com.softwarepractice.entity.Questionnaire">
        SELECT * FROM questionnaire WHERE questionnaire.id=#{id}
    </select>

    <select id="FindQuestionAll" resultType="com.softwarepractice.entity.Question">
        SELECT * FROM question WHERE question.questionnaire_id=#{questionnaire_id}
    </select>

    <select id="FindOptionsAll" resultType="com.softwarepractice.entity.Options">
        SELECT * FROM options WHERE options.question_id=#{question_id}
    </select>

    <select id="SelectDormitory" resultType="com.softwarepractice.entity.Dormitory">
        SELECT * FROM dormitory WHERE zone=#{zone} AND building=#{building} AND room=#{room}
    </select>

    <select id="SelectDormitoryById" resultType="com.softwarepractice.entity.Dormitory">
        SELECT * FROM dormitory WHERE id=#{id}
    </select>

    <select id="SelectStudent" resultType="com.softwarepractice.entity.Student">
        SELECT * FROM student WHERE student_id=#{student_id}
    </select>

    <select id="FindAccommendationAll" resultType="com.softwarepractice.message.medium.AccommendationMessage">
        SELECT a.id,s.name,s.student_id,s.telephone,d.zone,d.building,d.room
        FROM dormitory d,accommendation a,student s
        WHERE d.id=a.d_id AND a.s_id=s.id
        <if test="zone != 0" >
            AND d.zone=#{zone}
        </if>
    </select>

    <resultMap id="Information" type="com.softwarepractice.message.medium.InformationsMessage">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="time" property="time"/>
        <result column="w_id" property="w_id"/>
        <result column="zone" property="zone"/>
        <result column="building" property="building"/>
        <result column="room" property="room"/>
        <association property="worker" javaType="com.softwarepractice.message.medium.Informations_Worker">
            <id column="wid" property="id"/>
            <result column="name" property="name"/>
            <result column="telephone" property="telephone"/>
        </association>
    </resultMap>

    <select id="FindInformationAll" resultMap="Information">
        SELECT i.id,i.title,i.content,i.time,i.w_id,i.zone,i.building,i.room,w.id wid,w.name,w.telephone
        FROM information i,worker w
        WHERE i.w_id=w.id
    </select>

    <select id="SelectWorker" resultType="com.softwarepractice.entity.Worker">
        SELECT * FROM worker WHERE worker_id=#{worker_id}
    </select>

    <select id="SelectWorkerById" resultType="com.softwarepractice.entity.Worker">
        SELECT * FROM worker WHERE id=#{id}
    </select>

    <select id="SelectInformation" resultType="com.softwarepractice.entity.Information">
        SELECT * FROM information WHERE id=#{id}
    </select>

    <select id="FindPushBySid" resultType="com.softwarepractice.entity.Push">
        SELECT * FROM push WHERE s_id=#{s_id}
    </select>

    <select id="FindStudentAll" resultType="com.softwarepractice.entity.Student">
        SELECT id,open_id FROM student
    </select>

    <!-- zone building room -->
    <select id="FindStudentBySome" resultType="com.softwarepractice.entity.Student">
        SELECT s.id,s.open_id
        FROM student s,accommendation a,dormitory d
        WHERE a.d_id=d.id AND a.s_id=s.id
        <if test="zone!=null">
            AND d.zone=#{zone}
        </if>
        <if test="building!=null">
            AND d.building=#{building}
        </if>
        <if test="room!=null">
            AND d.room=#{room}
        </if>
    </select>


</mapper>